.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #01b7ff;
  row-gap: 10px;
}


.upload-form input {
  padding: 8px;
  width: 300px;
}

.upload-form button {
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.post-caption {
  height: 150px;
  width: 300px;
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

*::-webkit-scrollbar {
  display: none;
}

@media (min-width : 1024px) {
  .upload-container {
    height: 600px;
    width: 400px;
    border-radius: 15px;
    margin-left: 75vh;
    margin-top: 25px;

  }

  .upload-container textarea {
    height: 250px;
    width: 300px;
  }

}